@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.PriceSetting
@using Resources
@inject ILocalizer localizer
@model B2dDiscountMst
@{
    Layout = "_LayoutMain";
    var dtl_query_params = ViewData["DTL_QUERY_PARAMS"] as QueryParamsModel;
    var curamt_query_params = ViewData["CUR_AMT_QUERY_PARAMS"] as QueryParamsModel;
}
@section Stylesheet {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/jquery-scrolling-tabs/dist/css/jquery.scrolling-tabs.min.css")" />

}
<div class="row">
    <div class="col-xs-12">
        <form id="form1">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>折扣規則代碼</label>
                    <input type="text" id="disc_no" name="name" class="form-control" value="@Model.DISC_NO">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>折扣規則名稱</label>
                    <input type="text" id="disc_name" name="name" class="form-control" value="@Model.DISC_NAME">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>訂購起始日<span class="text-danger">*</span></label>
                    <input type="text" id="book_sdate" name="name" class="form-control datepicker" value="@Model.S_DATE" placeholder="輸入yyyy-mm-dd">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>訂購結束日<span class="text-danger">*</span></label>
                    <input type="text" id="book_edate" name="name" class="form-control datepicker" value="@Model.E_DATE" placeholder="輸入yyyy-mm-dd">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>折扣類型</label>
                    <select id="disc_type" class="form-control">
                        <option value="01">NET</option>
                        <option value="02">COMMISSION</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>折扣百分比 (&plusmn;)<span class="text-danger">*</span></label>
                    <input type="text" id="disc_percent" name="name" class="form-control" value="@Model.DISC_PERCENT" placeholder="輸入折扣%">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>狀態</label>
                    <select id="status" class="form-control">
                        <option value="False">@localizer.Text.Disable</option>
                        <option value="True">@localizer.Text.Enable</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>產品規則條件<span class="text-danger">*</span></label>
                    <div class="col-sm-12">
                        <input class="form-check-input" type="radio" name="rule_status" id="inlineRadio1" value="00" />
                        <label class="form-check-label" for="inlineRadio1" style="margin-right:8px;">不限定條件</label>

                        <input class="form-check-input" type="radio" name="rule_status" id="inlineRadio2" value="01" />
                        <label class="form-check-label" for="inlineRadio2">限定條件適用</label>
                    </div>
                </div>
            </div>


        </form>

    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Nav tabs -->

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#disc_dtl" aria-controls="disc_dtl" role="tab" data-toggle="tab">折扣明細</a></li>
            <li role="presentation"><a href="#curr_amt" aria-controls="curr_amt" role="tab" data-toggle="tab">外幣折扣金額</a></li> 
        </ul> 
    </div>

     
     <div class="row" style="margin-top: 16px;">

        <!-- Tab panes begin -->
        <div class="tab-content"> 

            <div role="tabpanel" class="tab-pane active" id="disc_dtl">
            </div>

            <div role="tabpanel" class="tab-pane active" id="curr_amt">
            </div>

        </div>  <!-- Tab panes end -->

    </div>
</div>