@using KKday.Web.B2D.EC.Models.Model.Account
@using Resources
@inject ILocalizer localizer
@model B2dAccount
@{
    Layout = "_layoutMain";
}

<div class="col-md-12">
    <div class="board">
        <div class="page-head">
            <input type="hidden" id="xid" value="@Model.XID" />
            <div class="breadcrumb">
                <a href="~/User/Account/ApiUser"><i class="fa fa-angle-left fa-lg"></i>@localizer.Text.Back</a>
            </div>
                    <h1>@Model.COMPANY_NAME-@Model.NAME</h1>
                    <ul class="nav nav-tabs page-tab">
                        <li class="active"><a href="#tab1" data-toggle="tab">@localizer.Text.UserProfile</a></li>
                        <li><a href="#tab2" data-toggle="tab">@localizer.Text.ChangePassword</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <form id="form">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>@localizer.Text.Email / @localizer.Text.Account</label>
                                    <input type="email" class="form-control" value="@Model.EMAIL" disabled="disabled" style="background-color: white">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>@localizer.Text.GenderTitle</label>
                                    <select id="gender_title" name="gender_title" class="form-control">
                                        <option value="miss">Miss</option>
                                        <option value="mr">Mr</option>
                                        <option value="mrs">Mrs</option>
                                        <option value="ms">Ms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@localizer.Text.NameLast<span class="text-danger">*</span></label>
                                    <input type="text" id="name_last" name="name_last" class="form-control" placeholder="@localizer.Text.Search_Name_Last" value="@Model.NAME_LAST">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>@localizer.Text.NameFirst<span class="text-danger">*</span></label>
                                    <input type="text" id="name_first" name="name_first" class="form-control" placeholder="@localizer.Text.Search_Name_First" value="@Model.NAME_FIRST">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>@localizer.Text.Tel<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-addon">@localizer.Text.CountryANDTelCode</span>
                                        <div type="text" class="form-control">+@Model.TEL_AREA"</div>
                                        <span class="input-group-addon">@localizer.Text.Tel</span>
                                        <input type="text" id="tel" name="tel" class="form-control" value="@Model.TEL" placeholder="@localizer.Text.Search_Tel" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@localizer.Text.Department</label>
                                    <input type="text" id="department" class="form-control" value="@Model.DEPARTMENT" placeholder="@localizer.Text.Search_Department">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@localizer.Text.JobTitle</label>
                                    <input type="text" id="job_title" class="form-control" value="@Model.JOB_TITLE" placeholder="@localizer.Text.Search_JobTitle">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@localizer.Text.UserType<span class="text-danger">*</span></label>
                                    <select id="user_type" name="user_type" class="form-control">
                                        <option value="00">@localizer.Text.UserRole_00</option>
                                        <option value="01">@localizer.Text.UserRole_01</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>@localizer.Text.Status<span class="text-danger">*</span></label>
                                    <select id="status" name="status" class="form-control">
                                        <option value="False">@localizer.Text.Disable</option>
                                        <option value="True">@localizer.Text.Enable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        </form>
                        <div class="form-btns">
                            <button class="btn btn-primary" onclick="UpdateAccount();">@localizer.Text.Update</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <form id="form_pw">
                            <input type="hidden" id="uuid" name="uuid" value="@ViewData["UUID"]" />
                            <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>@localizer.Text.ChangePassword</label>
                                            <input type="password" id="upd_password" name="upd_password" class="form-control" placeholder="@localizer.Text.NewPassword" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>@localizer.Text.PasswordAgain</label>
                                            <input type="password" id="upd_password_again" name="upd_password_again" class="form-control" style="margin-bottom:8px;" placeholder="@localizer.Text.PasswordAgain" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-btns">
                                    <button class="btn btn-primary" onclick="UpdPassword();">@localizer.Text.ChangePassword</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

<div id="api_key" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">API Key</h4>
            </div>
            <div class="modal-body break-all">

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary">複製</button>
            </div>
        </div>
    </div>
</div>

<script>

    $.validator.addMethod("phoneStyle", function( value, element ) {
       var str = value;
       var result = false;

       if(str.length > 0){
           var patt_phone = /^[\d\-\(\)\#]{1,}$/;
           result = patt_phone.test(str);
       }
       else result = true;

       return result;
   }, "電話號碼不符合格式，僅接受數字、#-()等符號");


    $(function(){
        $('#Menu_06').addClass("active");
        $("#user_type").val('@Model.USER_TYPE');
        $("#status").val('@Model.ENABLE');

    //初始化驗證規則
        $('#form1').validate({
            rules:{
                gender_title: "required",
                name_last: "required",
                name_first: "required",
                tel: {required: true,phoneStyle:true},
                user_type: "required",
                status: "required"
            },

            messages:{
                gender_title:"不可為空",
                name_last:"不可為空",
                name_first:"不可為空",
                tel:{required:"不可為空"},
                user_type:"不可為空",
                status:"不可為空"
            }
        });

    //初始化驗證規則
        $('#form_pw').validate({
            rules:{
                upd_password: {required: true,rangelength:[8,12]},
                upd_password_again: {required: true,rangelength:[8,12],equalTo:"#upd_password"}
            },
            messages:{
                upd_password:{required:"不可為空",rangelength:"密碼須介於8至12位數"},
                upd_password_again:{required:"不可為空",rangelength:"密碼須介於8至12位數",equalTo:"密碼不相符"}
            }
        });
    });

    function UpdateAccount()
    {
       if(!confirm('Are you sure to update account profile?')) return false;

       if($('#form').valid())
       {
           var userObj = { xid : $("#xid").val(),
                gender_title:$("#gender_title").val(),
                name_first :$("#name_first").val(),
                name_last :$("#name_last").val(),
                JOB_TITLE:$('#job_title').val(),
                department: $("#department").val(),
                tel :$("#tel").val(),
                user_type :$("#user_type").val(),
                enable : $("#status").val() == "True" ? true : false
            };

            console.log("account: " + JSON.stringify(userObj));

            $.ajax({
                type: "POST",
                url: _root_path + "Account/ApiUserUpdate",
                contentType: "application/json",
                data: JSON.stringify(userObj),
                dataType: "json",
                error: function (jqXHR, textStatus, errorThrown) {
                    // console.log("jqXHR => respText: " + jqXHR.responseText + ", status: " + jqXHR.status + ", readyState: " + jqXHR.readyState + ", statusText: " + jqXHR.statusText);
                    console.log("textStatus: " +textStatus + ", error: " + errorThrown);
                },
                success: function (result) {
                    // console.log("result: " + JSON.stringify(result));
                    if(result.status == "OK") {
                        alert("Update OK!");
                        window.location.href = "@Url.Content("~/User/Account/ApiUser")";
                    } else {
                        alert("Error: " + result.msg);
                    }
                }
            });
        }

        return false;
    }

    function UpdPassword()
    {
        if($('#form_pw').valid()){

            $.ajax({
                type: "POST",
                url: _root_path + "Account/UpdatePassword_Api",
                data: { mail: '@Model.EMAIL',password :$('#upd_password').val()},
                error: function (jqXHR, textStatus, errorThrown) {
                console.log("textStatus: " +textStatus + ", error: " + errorThrown);
                },
                success: function (result) {
                    // console.log("result: " + JSON.stringify(result));
                    if(result.status == "OK") {
                        alert("Update OK!");
                        window.location.href = "@Url.Content("~/User/Account/ApiUser")";
                    }
                    else {
                        alert("Error: " + result.msg);
                    }
                }
            });
        }

        else alert('請確認資料是否填寫正確');
        return false;
    }

</script>
