@using Resources
@inject ILocalizer localizer
@{
    Layout = "_LayoutMain";
}

<div class="page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <h1 class="title mt-20">@localizer.Text.ChangePassword</h1>
                <form method="post" id="form" onsubmit="return CheckPassword();">
                    <input type="hidden" id="uuid" name="uuid" value="@ViewData["UUID"]" />
                    <div class="form-group">
                        <label>@localizer.Text.NewPassword</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label>@localizer.Text.PasswordAgain</label>
                        <input type="password" class="form-control" id="password_again" name="password_again">
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="@localizer.Text.ChangePassword"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function() {
        $('#Menu_02').addClass("active");
        //初始化驗證規則
        $('#form').validate({
            rules:{
                password: {required: true,rangelength:[8,12]},
                password_again: {required: true,rangelength:[8,12],equalTo:"#password"}
            },

            messages:{
                password : {required:"不可為空",rangelength:"密碼須介於8至12位數"},
                password_again :{required:"不可為空",rangelength:"密碼須介於8至12位數",equalTo:"密碼不相符"}
            }
        });
    });

    function CheckPassword() {
    if($('#form').valid())
    {
        $.ajax({
            url: _root_path + 'Account/UpdatePassword',
            type: 'POST',
            data: {
              uuid: $('#uuid').val(), password: $('#password').val()
            },
            error: function(xhr) {
              alert('Ajax request 發生錯誤');
            },
            success: function(result) {
                if(result.status == "OK") {
                    alert("密碼已變更成功!");
                    window.location.href =_root_path + "Account/Password";
                }
                else {
                    alert(result.msg);
                }
            }
          });
          return false;
        }
    }
</script>