@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.Company
@using Resources
@inject ILocalizer localizer

@{
    var companies = (List<B2dCompany>)ViewData["COMPANIES"];
    var lookup = (QueryParamsModel)ViewData["QUERY_PARAMS"];
}

@if (companies.Count < 1)
{
    <span>@localizer.Text.Data_Not_Found</span>
}
else
{

    <table id="mytable" class="table table-bordred table-striped">
        <thead>
        <th><input type="checkbox" id="checkall" /></th>
        <th>@localizer.Text.ID</th>
        <th>@localizer.Text.Company_Name</th>
        <th>@localizer.Text.Country</th>
        <th>@localizer.Text.Status</th>
        <th>@localizer.Text.Promotion</th>
        <th>@localizer.Text.Edit</th>
        <th>@localizer.Text.Delete</th>
        </thead>
        <tbody>
            @foreach (var item in companies)
            {
                <tr>
                    <td><input type="checkbox" class="checkthis" value="@item.XID" /></td>
                    <td>@item.XID</td>
                    <td>@item.COMP_NAME</td>
                    <td>@item.COMP_COUNTRY</td>
                    <td>@item.STATUS_DESC (@item.STATUS)</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Promotion"><button class="btn btn-primary btn-xs" data-title="Promotion" data-toggle="modal" data-target="#promotion"><i class="fas fa-tasks"></i></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" data-paragraphs="@item.XID"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                </tr>

            }


        </tbody>
    </table>
    <div class="clearfix"></div>
    <div>
        <ul class="pagination pull-right">

            @if (lookup.Paging.total_pages > 1)
            {
                <li><a href="javascript:Refresh(1);"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            }

            @for (int nIdx = 0; nIdx < lookup.Paging.total_pages; nIdx++)
            {
                var pgIdx = nIdx + 1;
                if (pgIdx == lookup.Paging.current_page)
                {
                    <li class="active"><a href="javascript:void(0);">@pgIdx</a></li>
                }
                else
                {
                    <li><a href="javascript:void(0);" onclick="Refresh(@pgIdx);">@pgIdx</a></li>
                }
            }
            @if (lookup.Paging.total_pages > 1)
            {
                <li><a href="javascript:Refresh(@lookup.Paging.total_pages);"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            }
        </ul>
    </div>

}