@using KKday.Web.B2D.BE.Models.Model.Company
@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.App_Code
@using Resources

@inject ILocalizer localizer
@model B2dCompany
@{
Layout = "_LayoutMain";

var countryAreas = (List<CountryArea>)ViewData["CountryAreas"];
var countryLocales = (List<CountryLocale>)ViewData["CountryLocales"];
}
@section Stylesheet {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/jquery-scrolling-tabs/dist/css/jquery.scrolling-tabs.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/progressbar.css")" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/bootstrap-filestyle.min.js")" asp-append-version="true"></script></script>
    <script type="text/javascript" src="@Url.Content("~/lib/jquery-scrolling-tabs/dist/js/jquery.scrolling-tabs.min.js")"></script>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Content("~/KKday")">Home</a></li>
        <li class="breadcrumb-item">@localizer.Text.Title_Distributor</li>
        <li class="breadcrumb-item active" aria-current="page">分銷商內容</li>
    </ol>
</nav>

<div class="container">
 
    <div class="row">
        <div class="col-xs-12">
             <h4>@Model.COMP_NAME</h4>
        </div>
    </div>
 
    <!-- Nav tabs -->
     
    <ul class="nav nav-tabs" role="tablist"> 
        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">基本資料</a></li>         
        <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">審核資訊</a></li>
        <li role="presentation"><a href="#credit" aria-controls="credit" role="tab" data-toggle="tab">額度資料</a></li> 
    </ul>

</div>



<div class="container">
    <div class="row" style="margin-top: 16px;">
        <div class="col-xs-12">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-xs-12">

                        <form id="form1">
                            <input type="hidden" id="xid" value="@Model.XID" />
                            <input type="hidden" id="status" value="@Model.STATUS" />
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>@localizer.Text.Company_Name</label>
                                    <input type="text" id="name" name="name" class="form-control" value="@Model.COMP_NAME">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>合作模式<span class="text-danger">*</span></label>
                                    <select id="coop_mode" class="form-control">
                                        <option value="00">ALL</option>
                                        <option value="01">API</option>
                                        <option value="02">WEB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>付款方式<span class="text-danger">*</span></label>
                                    <select id="pay_type" class="form-control">
                                        <option value="01">逐筆結</option>
                                        <option value="02">額度付款</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>所在國家或地區代碼<span class="text-danger">*</span></label>
                                    <select id="country_area" class="form-control">
                                        <option value="">請選擇</option>
                                        @foreach (var country in countryAreas.OrderBy(c => c.telArea))
                                        {
                                            <option value="@(country.telArea + "," + country.countryCode)"> @country.countryName +@(country.telArea)</option>
                                        }
                                    </select>
                                </div>
                            </div> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>統一編號<span class="text-danger">*</span></label>
                                    <input type="text" id="invoice" class="form-control" value="@Model.COMP_INVOICE" placeholder="僅台灣同業用">
                                </div>
                            </div> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>慣用語言<span class="text-danger">*</span></label>
                                    <select id="locale" class="form-control">
                                        <option value="">請選擇</option>
                                        @foreach (var loc in countryLocales)
                                        {
                                            <option value="@loc.localeCode">@loc.localeName (@loc.countryName) </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>交易貨幣<span class="text-danger">*</span></label>
                                    <select id="currency" class="form-control">
                                        <option value="AUD">@localizer.Text.CURR_AUD</option>
                                        <option value="CAD">@localizer.Text.CURR_CAD</option>
                                        <option value="CNY">@localizer.Text.CURR_CNY</option>
                                        <option value="EUR">@localizer.Text.CURR_EUR</option>
                                        <option value="GBP">@localizer.Text.CURR_GBP</option>
                                        <option value="HKD">@localizer.Text.CURR_HKD</option>
                                        <option value="IDR">@localizer.Text.CURR_IDR</option>
                                        <option value="JPY">@localizer.Text.CURR_JPY</option>
                                        <option value="KRW">@localizer.Text.CURR_KRW</option>
                                        <option value="MYR">@localizer.Text.CURR_MYR</option>
                                        <option value="NZD">@localizer.Text.CURR_NZD</option>
                                        <option value="PHP">@localizer.Text.CURR_PHP</option>
                                        <option value="SGD">@localizer.Text.CURR_SGD</option>
                                        <option value="THB">@localizer.Text.CURR_THB</option>
                                        <option value="TWD">@localizer.Text.CURR_TWD</option>
                                        <option value="USD">@localizer.Text.CURR_USD</option>
                                        <option value="VND">@localizer.Text.CURR_VND</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>聯絡電話<span class="text-danger">*</span></label>
                                    <input type="text" id="tel" class="form-control" value="@Model.COMP_TEL">
                                </div>
                            </div> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>聯絡地址<span class="text-danger">*</span></label>
                                    <input type="text" id="address" class="form-control" value="@Model.COMP_ADDRESS" placeholder="僅台灣同業用">
                                </div>
                            </div> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>聯絡人</label>
                                    <input type="text" id="contact" class="form-control" value="@Model.CONTACT_USER" placeholder="聯絡人姓名">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>聯絡人信箱</label>
                                    <input type="text" id="contact_email" class="form-control" value="@Model.CONTACT_USER_EMAIL" placeholder="電子信箱">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>財務窗口</label>
                                    <input type="text" id="finance" class="form-control" value="@Model.FINANCE_USER" placeholder="財務窗口姓名">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>業務窗口</label>
                                    <input type="text" id="sales" class="form-control" value="@Model.SALES_USER" placeholder="業務窗口姓名">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>公司網站網址<span class="text-danger">*</span></label>
                                    <input type="text" id="url" class="form-control" value="@Model.COMP_URL" placeholder="僅台灣同業用">
                                </div>
                            </div>
                             
                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-success" onclick="UpdateCompany();"> @localizer.Text.Update</button>
                            </div>

                        </form>

                        </div>
                    </div> <!-- row -->

                    <div class="row" style="background-color:#f2f2f2;">
                         

                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-10" style="margin-top:16px; padding-bottom:8px;">
                                <label>公司圖片</label>
                                @if (string.IsNullOrEmpty(Model.COMP_LOGO_URL))
                                {
                                    <div></div>
                                }
                                else
                                {
                                    <div>@Model.COMP_LOGO_URL</div>
                                }
                                 
                                <input type="file" id="logo_file" class="filestyle" accept="image/*" data-icon="false" onchange="UploadLogo();"> 
                                 
                            </div>

                            <div class="col-xs-12 col-sm-10" style="margin-top:16px; padding-bottom:8px;">
                                <label>公司營業登記證</label>
                                @if (string.IsNullOrEmpty(Model.COMP_LICENSE) && string.IsNullOrEmpty(Model.COMP_LICENSE_2))
                                {
                                    <div></div>
                                } else {
                                    <div>@Model.COMP_LICENSE @Html.Raw(string.IsNullOrEmpty(Model.COMP_LICENSE_2)? "" : "<br/>")
                                           @Model.COMP_LICENSE_2</div>
                                }

                                <input type="file" id="license_files" class="filestyle" multiple accept="image/*,.pdf" data-icon="false" onchange="UploadLicenses();">                                  
                            </div>
                        </div>
                    </div> <!-- row --> 

                </div> <!-- tabpanel -->

                <div role="tabpanel" class="tab-pane" id="review">

                    <div class="row" style="margin-top:16px;">

                        <div class="col-xs-12">
                          @await Html.PartialAsync("CompanyStatus", Model.STATUS)
                        </div>

                        <div class="col-xs-12" style="margin-top:16px; margin-bottom:16px;">
                             
                            <div class="col-xs-6 text-right">
                                <label>目前狀態 :</label>
                            </div>
                            <div class="col-xs-6">

                                  @if (Model.STATUS.Equals("00"))
                                  {
                                    <span>@localizer.Text.Company_Status_00 (00)</span>
                                  }
                                  else if (Model.STATUS.Equals("01"))
                                  {
                                    <span>@localizer.Text.Company_Status_01 (01)</span>
                                  }
                                  else if (Model.STATUS.Equals("02"))
                                  {
                                    <span>@localizer.Text.Company_Status_02 (02)</span>
                                  }
                                  else if (Model.STATUS.Equals("03"))
                                  {
                                    <span>@localizer.Text.Company_Status_03 (03)</span>
                                  }
                                  else if (Model.STATUS.Equals("04"))
                                  {
                                    <span>@localizer.Text.Company_Status_04 (04)</span>
                                  }

                            </div>
                             
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center"> 
                            <button type="button" class="btn btn-info" onclick="return SetStatus('01');">@localizer.Text.Company_Progress_01</button> 
                            <button type="button" class="btn btn-warning" onclick="return SetStatus('02');">@localizer.Text.Company_Progress_02</button> 
                            <button type="button" class="btn btn-success" onclick="return SetStatus('03');">@localizer.Text.Company_Progress_03</button>
                            <button type="button" class="btn btn-danger" onclick="return SetStatus('04');">@localizer.Text.Company_Progress_04</button> 
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="credit">
                    <div class="row">
                        <div class="col-xs-12">
                            尚未開放!
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr />
             <button type="button" class="btn btn-default" onclick="window.history.go(-1);">回上一頁</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function(){ 
        $('#coop_mode').val('@Model.COMP_COOP_MODE');
        $('#pay_type').val('@Model.PAYMENT_TYPE');
        $('#country_area').val('@(Model.COMP_TEL_COUNTRY_CODE + "," + Model.COMP_COUNTRY)');
        $('#locale').val('@Model.COMP_LOCALE');
        $('#currency').val('@Model.COMP_CURRENCY');

        $('.tablist').scrollingTabs();

        @*$('#logo_File').change(function(){
            var t = $(this).val();
            var labelText = 'File : ' + t.substr(12, t.length);
            $(this).prev('label').text(labelText);
        });*@

    }); 

    function UpdateCompany()
    {
       if(!confirm('Are you sure to update company profile?')) return false;

       var country_area =  $("#country_area").val().split(',');
       var cmpObj = { xid : $("#xid").val(),
            status : $("#status").val(),
            coop_mode :$("#coop_mode").val(),
            payment_type :$("#pay_type").val(),
            name :$("#name").val(),
            url :$("#url").val(),
            locale :$("#locale").val(),
            currency :$("#currency").val(),
            invoice :$("#invoice").val(),
            country : country_area[1],
            tel_country_code : country_area[0],
            tel :$("#tel").val(),
            address :$("#address").val(),
            contact_user :$("#contact").val(),
            contact_user_email :$("#contact_email").val(),
            finance_user :$("#finance").val(),
            sales_user :$("#sales").val()
        };

        console.log("company: " + JSON.stringify(cmpObj));

        $.ajax({
            type: "POST",
            url: _root_path + "Company/Update",
            contentType: "application/json",
            data: JSON.stringify(cmpObj),
            dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                // console.log("jqXHR => respText: " + jqXHR.responseText + ", status: " + jqXHR.status + ", readyState: " + jqXHR.readyState + ", statusText: " + jqXHR.statusText);
                console.log("textStatus: " +textStatus + ", error: " + errorThrown);
            },
            success: function (result) {
                // console.log("result: " + JSON.stringify(result));
                if(result.status == "OK") {
                    alert("Update OK!");

                    var newForm = $('<form>', {
                        'action': _root_path + "Company",
                        'target': '_self',
                        'method': 'post'
                    }).append(jQuery('<input>', {
                        'name': 'query',
                        'value': /query=([^&#=]*)/.exec(window.location.search)[1],
                        'type': 'hidden'
                    }));
                    newForm.submit();
                } else {
                    alert("Error: " + result.msg);
                }
            }
        });

        return false;
    }

    function SetStatus(code) {
        $.ajax({
            type: "POST",
            url: _root_path + "Company/SetStatus",
            contentType: "application/json",
            data: JSON.stringify({ xid :$("#xid").val(), status : code }),
            dataType: "json",
            error: function (jqXHR, textStatus, errorThrown) {
                // console.log("jqXHR => respText: " + jqXHR.responseText + ", status: " + jqXHR.status + ", readyState: " + jqXHR.readyState + ", statusText: " + jqXHR.statusText);
                console.log("textStatus: " +textStatus + ", error: " + errorThrown);
            },
            success: function (result) {
                if(result.status == "OK") {
                    var newForm = $('<form>', {
                        'action': _root_path + "Company",
                        'target': '_self',
                        'method': 'post'
                    }).append(jQuery('<input>', {
                        'name': 'query',
                        'value': '@ViewData["QueryParams"]',
                        'type': 'hidden'
                    }));
                    newForm.submit();
                } else {
                    alert("Error: " + result.msg);
                }
            }
        });

        return false;
    }

    function UploadLogo() {
        var formData = new FormData();

        if($('#logo_file').val() == "") {
            alert('請先選擇要上傳的Logo圖檔!');
            return false;
        }

        var labelText = "";
        var input = document.getElementById('logo_file');
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
            labelText += files[i].name + "<br/>";
        }

        $.ajax({
            url: _root_path + "Company/UploadLogo/?cid=" + $("#xid").val(),
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            error: function (jqXHR, textStatus, errorThrown) {
                // console.log("jqXHR => respText: " + jqXHR.responseText + ", status: " + jqXHR.status + ", readyState: " + jqXHR.readyState + ", statusText: " + jqXHR.statusText);
                console.log("textStatus: " +textStatus + ", error: " + errorThrown);
            },
            success: function (result) {
                if(result.status == "OK") {
                    alert('Upload file is Successful');

                    $("#logo_file").prev('div').html(labelText);
                }
                else  alert(result.msg);               
            }

        });
    }

     function UploadLicenses() {
        var formData = new FormData();

        if($('#license_files').val() == "") {
            alert('請先選擇要上傳的營業登記檔案!');
            return false;
        }

        var labelText = "";
        var input = document.getElementById('license_files');
        var files = input.files;

        if(files.length > 2) {
            alert('只可上傳最多 2 個營業登記檔案!');
            return false;
        }

        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
            labelText += files[i].name + "<br/>";
        }

        $.ajax({
            url: _root_path + "Company/UploadLicenses/?cid=" + $("#xid").val(),
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            error: function (jqXHR, textStatus, errorThrown) {
                // console.log("jqXHR => respText: " + jqXHR.responseText + ", status: " + jqXHR.status + ", readyState: " + jqXHR.readyState + ", statusText: " + jqXHR.statusText);
                console.log("textStatus: " +textStatus + ", error: " + errorThrown);
            },
            success: function (result) {
                if(result.status == "OK") {
                    alert('Upload file is Successful'); 
                    $("#license_files").prev('div').html(labelText);
                }
                else  alert(result.msg);               
            }

        });
    }

</script>
