@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.Account
@using Resources

@inject ILocalizer localizer
@model List<B2dAccount>

@{
    var query_params = ViewData["QUERY_PARAMS"] as QueryParamsModel;
}

@if (Model == null || Model.Count < 1)
{
    <span>@localizer.Text.Data_Not_Found</span>
}
else
{
    <!--LIST-->
    <div class="table-responsive">
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th>@localizer.Text.ID</th>
                    <th>@localizer.Text.Name</th>
                    <th>@localizer.Text.Email</th>
                    <th>@localizer.Text.Status</th>
                    <th>@localizer.Text.UserType</th>
                    <th>@localizer.Text.Company_Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox">
                    <td>@item.XID</td>
                    </td>
                    <td>
                        <a href="javascript:AccountEdit(@item.XID);"> @item.NAME_LAST@item.NAME_FIRST </a>
                    </td>
                    <td>@item.EMAIL</td>
                    <td>@(item.ENABLE ? localizer.Text.Enable : localizer.Text.Disable)</td>
                    <td>@item.USER_TYPE_DESC</td>
                    <td>@item.COMPANY_NAME #@item.COMPANY_XID</td>
                    <td>
                        <a href="#" class="btn btn-danger btn-icon" onclick="AccountClose(@item.XID);"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!--LIST-->

}
