@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.FixedPrice
@using Resources
@inject ILocalizer localizer
@model List<FixedPricePackageEx>
@{
    var query_params = ViewData["QUERY_PARAMS"] as QueryParamsModel;
}

@if (Model == null || Model.Count < 1)
{
    <span>@localizer.Text.Data_Not_Found</span>
}
else
{
    <div class="row">
        <div class="col-sm-12"> 
         

       </div>
    </div>

    <div class="row">
        <div class="col-sm-12 table-responsive">

            <table class="table data-tablesaw tablesaw-stack" data-tablesaw-mode="stack"> 
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkall" /></th>
                        <th>套餐名稱</th>
                        <th>套餐條件</th>
                        <th>價格</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var pkg in Model)
                {
                    foreach (var price in pkg.Prices)
                    {
                        var seq = pkg.Prices.IndexOf(price);
                    <tr>
                        @if (seq == 0)
                        {
                        <td rowspan="@pkg.Prices.Count()"><input type="checkbox" value="@pkg.XID" class="checkitem" /></td>
                        <td rowspan="@pkg.Prices.Count()"> 
                            <label>@pkg.PKG_NAME</label><br />
                            <span>@pkg.ONLINE_SDATE.ToString("yyyy-MM-dd") ~ @pkg.ONLINE_EDATE.ToString("yyyy-MM-dd")</span> 
                        </td>
                        }
                        <td>@price.PRICE_COND</td>
                        <td><input type="text" value="@price.PRICE" class="upd-price" /> </td>
                        <td>
                            <button class="btn btn-success btn-xs update-btn" onclick="UpdPriceSetting(@price.XID);"
                                data-title="Update" data-toggle="modal" data-target="#update" disabled>
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>

                            <button class="btn btn-danger btn-xs" onclick="DelPriceSetting(@price.XID);"
                                data-title="Delete" data-toggle="modal" data-target="#delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>   
                   }

                }

                </tbody>
            </table>

        </div>
    </div>

     
    <script type="text/javascript">

    // Don't collapse on checkbox click
    $('.panel-heading h4 input[type=checkbox]').on('click', function(e) {
        e.stopPropagation();

        console.log(".panel-heading h4 input[type=checkbox] clicked");
    });

    // Cancel show event if not checked
    $('#collapseOne').on('show.bs.collapse', function(e) {
        if(!$('.panel-heading h4 input[type=checkbox]').is(':checked'))
        {
            return false;
        }
    });

    $("#checkall").click(function () {
        if ($(this).is(':checked')) {
            $("#accordion input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });
            $("#btn_imp_pkg").prop('disabled', false);
        } else {
            $("#accordion input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
            $("#btn_imp_pkg").prop('disabled', true);
        }
    });

    $("#accordion input[type=checkbox]").click(function () {
        if (!$(this).is(':checked')) {
            $("#checkall").prop("checked", false);
        }
    });

    $(".upd-price").on('change keyup paste', function () {
       $(this).closest('tr').find('.update-btn').attr('disabled', false);
    });

    $(".checkall").click(function () {
        if ($(this).is(':checked')) {
            $(".checkitem").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $(".checkitem").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    </script>
}
 