@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.FixedPrice
@using Resources
@inject ILocalizer localizer
@model List<FixedPricePackageEx>
@{
    var query_params = ViewData["QUERY_PARAMS"] as QueryParamsModel;
    var locale = User.FindFirst("Locale").Value;
}
<div class="row">
    <div class="col-sm-12"> 

        <div class="form-inline"> 
            <div class="checkbox">
               <input type="checkbox" id="checkall" style="margin-left:16px; width:30px; height:30px;">
            </div> 
            <label for="checkall">Package Name</label>
        </div>

    </div>
</div>

<div class="row">
    <div class="panel-group" id="accordion">
        <form>
            <!-- Panels -->
            <div class="col-xs-12">
                @foreach (var pkg in Model)
                {
                    <div class="panel panel-default pkg">
                        <div class="panel-heading">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#@pkg.SEQ_NO">
                                <input type="checkbox" class="check-item" />@pkg.PKG_NAME 
                            </h4>
                        </div>
                        <div id="@pkg.SEQ_NO" data-val="@pkg.PKG_NO" class="panel-collapse collapse">
                            <div class="panel-body table-responsive">

                                <table class="table table-striped price fit">
                                    <thead>
                                    <th>＃</th>
                                    <th>套餐條件</th>
                                    <th>牌價</th>
                                    <th>固定價</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                        @foreach (FixedPricePackageDtlEx price in pkg.Prices)
                                        {
                                            var price_seq = pkg.Prices.IndexOf(price) + 1;
                                            <tr>
                                                <td>@price_seq</td>
                                                <td>@price.PRICE_COND</td>
                                                <td>@price.PRICE</td>
                                                <td><input type="text" value="@price.PRICE" /></td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm" onclick="$(this).closest('tr').remove();">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button> 
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="col-sm-4 col-sm-offset-4" style="margin-top:8px; margin-bottom:8px;"> 
                <div class="form-inline">
                    <label for="period">有效區間 :</label>
                    <div class="input-group"> 
                        <input id="period" type='text' class="form-control period"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center" style="margin-top:16px;">
                <input type="button" class="btn btn-default" value="Cancel" onclick="RestorePage();" />
                <input type="button" id="btn_imp_pkg" class="btn btn-primary" value="匯入" disabled onclick="ImportPackages();" />
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">

    // Don't collapse on checkbox click
    $('.panel-heading h4 input[type=checkbox]').on('click', function(e) {
        e.stopPropagation();

        console.log(".panel-heading h4 input[type=checkbox] clicked");
    });

    // Cancel show event if not checked
    $('#collapseOne').on('show.bs.collapse', function(e) {
        if(!$('.panel-heading h4 input[type=checkbox]').is(':checked'))
        {
            return false;
        }
    });

    moment.locale('@locale');

    $(".period").daterangepicker({
        locale : { format: 'YYYY-MM-DD', separator: ' ~ ' },
        showDropdowns : true,
        alwaysShowCalendars : false
    });

    $("#checkall").click(function () {
        if ($(this).is(':checked')) {
            $("#accordion input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });
            $("#btn_imp_pkg").prop('disabled', false);
        } else {
            $("#accordion input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
            $("#btn_imp_pkg").prop('disabled', true);
        }
    });

    $("#accordion input[type=checkbox]").click(function () {
        if (!$(this).is(':checked')) {
            $("#checkall").prop("checked", false);
        }

        if($("#accordion input[type=checkbox]:checked").length > 0)
            $("#btn_imp_pkg").prop('disabled', false);
        else 
            $("#btn_imp_pkg").prop('disabled', true);
    });


</script>

@*
    <!-- Second Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">
                〔旺季〕標準４
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form>
                            <table class="table table-bordered price-table">
                                <thead>
                                <th style="width:5%;">ID</th>
                                <th style="width:10%;">套餐條件</th>
                                <th style="width:15%;">金額</th>
                                <th> </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Third Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree">
                〈平季〉逆轉世界 7
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <form>
                            <table class="table table-bordered price-table">
                                <thead>
                                <th style="width:5%;">ID</th>
                                <th style="width:10%;">套餐條件</th>
                                <th style="width:15%;">金額</th>
                                <th> </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><input type="text" /> </td>
                                        <td><input type="text" /> </td>
                                        <td>
                                            <div class="buttons">
                                                <button class="btn btn-primary btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button class="btn btn-danger btn-sm" onclick="return false;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


