@using KKday.Web.B2D.BE.Models.Model.Common
@using KKday.Web.B2D.BE.Models.Model.PriceSetting
@using Resources

@inject ILocalizer localizer
@model List<B2dDiscountDtl>
@{
    var mst_xid = (Int64)ViewData["MST_XID"];
    var query_params = ViewData["DTL_QUERY_PARAMS"] as QueryParamsModel;
}

@if (Model == null || Model.Count() < 1)
{
    <span>@localizer.Text.Data_Not_Found</span>
}
else
{

    <table id="disc_tbl" class="table table-bordred table-striped fit">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Type</th>
                <th>Content</th>
                <th>Name</th>
                <th>Mark</th>
                <th>@localizer.Text.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><input type="checkbox" class="checkthis" value="@item.XID" aria-label="Select discount" title="Select discount in this table" /></td>
                <td><a href="#" class="btn" data-title="編輯明細規則" data-toggle="modal" data-target="#edit_dtl" data-filtre="@item.XID">@item.XID</a></td>
                <td>
                    @(item.DISC_TYPE.Equals("type1") ? "依商品編號" : "依商品分類")
                </td>
                <td>@item.DISC_LIST</td>
                <td>@item.DISC_LIST_NAME</td>
                <td>
                    @if (item.WHITELIST.Equals("0")) { 
                    <span>黑名單</span>
                    }
                    else
                    {
                    <span>白名單</span>
                    }
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete_dtl" onclick="$('#del_dtl_xid').val(@item.XID);">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="col-xs-12">
        <ul class="pagination pull-right">

        @if (query_params.Paging.total_pages > 1)
        {
            <li><a href="javascript:void(0);" onclick="RefreshDtl(1, false);"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        }
        @for (int nIdx = 0; nIdx < query_params.Paging.total_pages; nIdx++)
        {
            var pgIdx = nIdx + 1;
            if (pgIdx == query_params.Paging.current_page)
            {
                <li class="active"><a href="javascript:void(0);">@pgIdx</a></li>
                }
                else
                {
            <li><a href="javascript:void(0);" onclick="RefreshDtl(@pgIdx, false);">@pgIdx</a></li>
            }
        }
        @if (query_params.Paging.total_pages > 1)
        {
            <li><a href="javascript:void(0);" onclick="RefreshDtl(@query_params.Paging.total_pages, false);"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        }
        </ul>
    </div>
}