@using KKday.Web.B2D.EC.Models.Model.Product
@using KKday.SearchProd.Models.Model

@*WMS-API*@
@model List<CountryInfo>;
@*KK-API*@
@*@model List<TravelLine>;*@

@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Home Page";
    var prodTitle = (ProdTitleModel)ViewData["prodTitle"];
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/flat-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/pages/index.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/simple-line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/main.css")">
}

@section Scripts{
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.kkday.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.2.2.1.min.js")"></script>
}

<div class="page-wrap home-wrap">
    <section class="home-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="kksearch">
                        <h2>@prodTitle.home_index2_btn_go</h2>
                        <form id="form1" action="@Url.Content("~/Search/ProdList")" method="post">
                            <input type="hidden" id="key1" name="key1" />  @*點擊的查詢條件*@
                            <input type="hidden" id="citykey" name="citykey" />
                            <div class="search-area">
                                <div class="input-group">
                                    <input type="text" class="form-control input-lg" id="key" placeholder="@prodTitle.common_type_to_search">
                                    <span class="clear-input"><i class="fa fa-times-circle fa-lg"></i></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" id="sub1"><i class="fa fa-search fa-lg"></i></button>
                                    </span>
                                </div>
                                @*<div class="search-dropdown">
                                    <div class="default-suggest">
                                        <h4 class="title">Most Popular Destinations</h4>
                                        <ul>
                                            <li><a href="#"><span>台北</span></a></li>
                                            <li><a href="#"><span>東京</span></a></li>
                                            <li><a href="#"><span>京都</span></a></li>
                                            <li><a href="#"><span>Athens</span></a></li>
                                            <li><a href="#"><span class="hot">Berlin</span></a></li>
                                            <li><a href="#"><span class="hot">Dominican Republic</span></a></li>
                                            <li><a href="#"><span>Edinburgh</span></a></li>
                                            <li><a href="#"><span>Hamburg</span></a></li>
                                            <li><a href="#"><span>Hanoi</span></a></li>
                                            <li><a href="#"><span>Ho Chi Minh City</span></a></li>
                                            <li><a href="#"><span>Paris</span></a></li>
                                            <li><a href="#"><span>Prague</span></a></li>
                                            <li><a href="#"><span>Rome</span></a></li>
                                            <li><a href="#"><span>San Francisco</span></a></li>
                                            <li><a href="#"><span class="hot">Taichung</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="city-suggest">
                                        輸入”國家名稱“時只出現此區塊
                                        <ul>
                                            <li><a href="#"><span>台北</span></a></li>
                                            <li><a href="#"><span>東京</span></a></li>
                                            <li><a href="#"><span>京都</span></a></li>
                                            <li><a href="#"><span>Athens</span></a></li>
                                            <li><a href="#"><span>Berlin</span></a></li>
                                            <li><a href="#"><span>Dominican Republic</span></a></li>
                                            <li><a href="#"><span>Edinburgh</span></a></li>
                                            <li><a href="#"><span>Hamburg</span></a></li>
                                            <li><a href="#"><span>Hanoi</span></a></li>
                                            <li><a href="#"><span>Ho Chi Minh City</span></a></li>
                                            <li><a href="#"><span>Paris</span></a></li>
                                            <li><a href="#"><span>Prague</span></a></li>
                                            <li><a href="#"><span>Rome</span></a></li>
                                            <li><a href="#"><span>San Francisco</span></a></li>
                                            <li><a href="#"><span>Taichung</span></a></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                    <div class="autosuggest">
                                        <ul class="destination">
                                            <li>
                                                <a href=""><i class="fa fa-map-marker"></i><strong>Tai</strong>chung</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa fa-map-marker"></i><strong>Tai</strong>nan</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa fa-map-marker"></i><strong>Tai</strong>pei</a>
                                            </li>
                                        </ul>
                                        <ul class="experience">
                                            <li>
                                                <a href="#">
                                                    <span class="prod_name">
                                                        Bangkok Dinosaur Planet Tickets - Over 30% Off
                                                    </span>
                                                    <span class="city">
                                                        <i class="fa fa-map-marker"></i>Bankok
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="prod_name">
                                                        <i class="fa fa-flash text-primary"></i>
                                                        Universal Studios Singapore Ticket - Save 10%
                                                    </span>
                                                    <span class="city">
                                                        <i class="fa fa-map-marker"></i>Taipei
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="prod_name">
                                                        Day Trip From Seoul: Korean Demilitarized Zone (DMZ) One Day Tour
                                                    </span>
                                                    <span class="city">
                                                        <i class="fa fa-map-marker"></i>Dominican Republic
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="prod_name">
                                                        Nami Island with Petite France, Gangchon Rail Bike, Flower Garden
                                                    </span>
                                                    <span class="city">
                                                        <i class="fa fa-map-marker"></i>Seoul
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="prod_name">
                                                        <i class="fa fa-flash text-primary"></i>
                                                        Korea Everland Theme Park Entry Ticket (QR code)
                                                    </span>
                                                    <span class="city">
                                                        <i class="fa fa-map-marker"></i>Seoul
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    </div>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div class="container" id="cont1">
            <div class="row">
                @*不回傳值，直接導新頁
                <div class="col-md-6">
                    <h2>Search Products</h2>
                    <form id="form1" action="@Url.Content("~/Search/ProdList")" method="post">
                        <input type="hidden" id="key1" name="key1" />  @*點擊的查詢條件

                        <div id="custom-search-input">
                            <div class="input-group col-lg">
                                <input type="text" class="form-control input-lg" placeholder="Products" id="key" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="submit" id="sub1">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    *@

    @*//WMS-API*@
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-light mt-20">直接選擇目的地城市名稱</h2>
                @foreach (var countries in Model)
                {
                    <div class="home-section">
                        <div class="row">
                            <div class="col-md-2">
                                <h2 class="section-title">@countries.CountryName</h2>
                            </div>

                            <div class="col-md-10">
                                @foreach (var city in countries.Cities)
                                {
                                    <a href="javascript:void(0);" class="btn btn-outline-primary btn-xs" onclick="quicksearch('@city.CityCode');">@city.CityName</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @*//WMS-API*@
    @*<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-light mt-20">直接選擇目的地城市名稱</h2>
                @foreach (var tl in Model)
                {
                    @foreach (var na in tl.Countries)
                    {
                        <div class="home-section">
                            <div class="row">
                                <div class="col-md-2">
                                    <h2 class="section-title">@na.CountryName</h2>
                                </div>

                                <div class="col-md-10">
                                    @foreach (var ct in na.Cities)
                                    {
                                        <a href="javascript:void(0);" class="btn btn-outline-primary btn-xs" onclick="quicksearch('@ct.CityCode');">@ct.CityName</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>*@
</div>

<div class="scroll-top-wrapper">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-angle-up"></i>
    </span>
</div>

<script type="text/javascript">

    $(function(){

    //按下實體Button後將值塞進input(hidden)由form發動
    $(function(){
        $("#sub1").click(function(){
            $("#key1").val($("#key").val());
            $("#form1").submit();
        });
    });


    //For New Search Block
    $(document).on('click',function(e){
        $('.search-dropdown').hide();
    });

    $('.search-dropdown').on('click',function(e){
        e.stopPropagation();
    });

    $('.kksearch .input-group input').on('focus click',function(e){
        $('.search-dropdown').show();
        e.stopPropagation();

        var $html = $('html, body');
        var $top = $(this).offset().top;
        var $time = 500;

        $html.animate({scrollTop: $top -100}, $time);

    });

    $('.kksearch .input-group input').on('change keydown keyup paste move remove',function(){

        var $value = $(this).val();

        if($value.length == 0){
            $('.default-suggest').show();
            $('.autosuggest').hide();
        }else{
            $('.autosuggest').show();
            $('.default-suggest').hide();
        }
    });


    $('.open-search').on('click',function(e){
        e.stopPropagation();

        $('.kksearch').addClass('slideIn');
        $('.kksearch input').focus();

    });

    $('.close-search').on('click',function(){

        $('.kksearch').removeClass('slideIn');

    });

    //Scroll 滾動至最上層
    $(document).on( 'scroll', function(){

        // 手機版不顯示
        if ($(window).width() < 768 ) return;

        // 電腦版
        if ($(window).scrollTop() > 100) {
            $('.scroll-top-wrapper').addClass('show');
        } else {
            $('.scroll-top-wrapper').removeClass('show');
        }
    });

    $('.scroll-top-wrapper').on('click', scrollToTop);

    })

    //將值塞進input(hidden)由form發動  citykey
    function quicksearch(citykey)
    {
        $("#citykey").val(citykey);
        alert(citykey);
        @*$("#key2").val($("#countries").val());*@
        $("#form1").submit();
    }

    //Scroll 滾動至最上層
    function scrollToTop()
    {
        verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $('body');
        offset = element.offset();
        offsetTop = offset.top;
        $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
    }

</script>