@using KKday.Web.B2D.EC.Models.Model.Product
@using KKday.Web.B2D.EC.Models.Model.Booking
@using KKday.Web.B2D.EC.Models.Model.Pmch;
@using KKday.Web.B2D.EC.Models.Model.Account;

@{
    var prodTitle = (ProdTitleModel)ViewData["prodTitle"];
    var confirm = (confirmPkgInfo)ViewData["confirmPkgInfo"];
    var contactInfo = (B2dAccount)ViewData["contactInfo"];
    var prodShow = (BookingShowProdModel)ViewData["prodShow"];
    var pmgw = (Pmgw)ViewData["pmgw"];

}


<div class="title">
     @prodTitle.booking_step1_please_select_payment_method
    <a href="javascript:;" class="title-tool expand-info">
        <i class="fa fa-angle-down"></i>
    </a>
</div>
<div class="con">
   <form id="payForm" class="payFormClass">
    <ul class="payment-list">
        <li>
            <label>
                <input type="radio" name="payment" value="creditcard">
                @prodTitle.booking_step1_by_credit_card
            </label>
            <div class="card-group">
                @{ string cardList = ""; }
                @foreach (LogoList2 logo in pmgw.interfaceSetting.logoList)
                {
                    cardList += $"{logo.logoName},";
                    <img src="~/images/payment/ic_@(logo.logoName.ToLower()).svg" class="pay-kind-img">
                }
                @Html.Hidden("cardLogoList", cardList.Substring(0, cardList.Length - 1))
            </div>
            <div class="card-info" style="display:none">
                <b>@prodTitle.booking_step1_amount_of_money<span class="price">@prodShow.currency  @prodShow.totoalPrice  </span></b>
                <div class="tip">
                    @if (pmgw.acctdocReceiveMethod.Equals("ONLINE_CITI"))
                    {
                      @prodTitle.booking_step1_citi_info  <!--citi-->
                     <br><label>*</label> @prodTitle.payment_pmch_info_fee_remind
                    }
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>@prodTitle.common_card_holder_name</label>
                            <input type="text" class="form-control" id="txtPayHolderName" name="txtPayHolderName" placeholder="@prodTitle.booking_step1_enter_card_holder_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <label>@prodTitle.common_credit_card_num</label>
                            <input type="tel" class="form-control" id="txtPayCardNum" name="txtPayCardNum"  placeholder="oooo oooo oooo oooo" maxlength="19"  onkeyup="formatCardNumber(event)" onblur="formatCardNumber(event)"  >
                            <br /><div class="tip" style="display:none;" id="cardNoMsg" data-msg-support="common_not_support_card"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <label>@prodTitle.common_expire_date</label>
                            <input type="tel" class="form-control" placeholder="MM/YY" id="txtPayExpireDate" name="txtPayExpireDate"  maxlength="7" onkeyup="formatExpiry(event)" onblur="formatExpiry(event)">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <label>CVC/CVV</label>
                            <input type="tel" class="form-control" placeholder="CVC/CVV" id="txtPayCvc" name="txtPayCvc" maxlength="3">
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
   </form>
    <div class="mt-15">
        <a href="javascript:;" class="btn btn-primary" data-toggle="modal" data-target="#modal_error_msg" onclick="chkValid(this)">@prodTitle.common_next </b></a>
    </div>
</div>