
@using KKday.Web.B2D.EC.Models.Model.Product
@{
    var prodTitle = (ProdTitleModel)ViewData["prodTitle"];
    //var prodInfo = (ProductforEcModel)ViewData["prodInfo"];
    var currency = (string)ViewData["currency"];
    var noRankUnit02Txt = "";
}
@model PackageModel

<div class="row">
    <ul class="option-group">
        @foreach (PkgDetailModel pkg in Model.pkgs)
        {
            @Html.Hidden("hdnPkgDate_" + pkg.pkg_no, (pkg.pkgDate == null ? "" : pkg.pkgDate.day))
            @Html.Hidden($"hdnPkgMinNum_{pkg.pkg_no}", pkg.norank_min_book_qty)
            @Html.Hidden($"hdnPkgMaxNum{pkg.pkg_no}", pkg.norank_max_book_qty)
            @Html.Hidden($"hdnOrderQty_{pkg.pkg_no}", pkg.book_qty)
            @Html.Hidden($"hdnPkgName_{pkg.pkg_no}", pkg.pkg_name)
            @Html.Hidden($"hdnPrice1_{pkg.pkg_no}", pkg.price1)
            @Html.Hidden($"hdnPrice2_{pkg.pkg_no}", pkg.price2)
            @Html.Hidden($"hdnPrice3_{pkg.pkg_no}", pkg.price3)
            @Html.Hidden($"hdnPrice4_{pkg.pkg_no}", pkg.price4)
            @Html.Hidden($"hdnevent_{pkg.pkg_no}", "")
            @Html.Hidden($"hdneventQty_{pkg.pkg_no}", "")
            @Html.Hidden($"hdnHasEvent", "false")
            @Html.Hidden($"hdnHasRank_{pkg.pkg_no}", pkg.is_unit_pirce)
            @Html.Hidden($"hdnMinBookQty_{pkg.pkg_no}", pkg.rank_min_book_qty)
            @Html.Hidden($"hdnMinOverageQty_{pkg.pkg_no}", pkg.min_overage_qty)

            <li class="option-item">
                <h4 class="option-title">@pkg.pkg_name</h4>
                <div class="product-pricing">
                    <span>@currency</span>
                    <h4>@pkg.price1</h4>
                </div>
                @{
                    string ulControl = $"{pkg.pkg_no}_eventtime";
                    string eventTimeArea = $"{pkg.pkg_no}_eventtime_area";
                    string buttonControl = $"{pkg.pkg_no}_eventtime_selected";
                }
                @if (pkg.chkDateCanSell == null)
                {
                    <a onclick="chgPkgInfo('@pkg.pkg_no','first');" class="btn btn-success select-option">@prodTitle.product_index_select</a>
                    @*<button type="button" class="btn btn-info" onclick="chgPkgInfo('@pkg.pkg_no','first');">@prodTitle.product_index_select</button>*@
                }
                else
                {
                    @if (pkg.chkDateCanSell == "1")
                    {
                        <a onclick="chgPkgInfo('@pkg.pkg_no','showprice');" class="btn btn-success select-option">@prodTitle.product_index_select</a>
                        @*<button type="button" class="btn btn-info" onclick="chgPkgInfo('@pkg.pkg_no','showprice');">@prodTitle.product_index_select</button>*@
                    }
                    else if (pkg.chkDateCanSell == "2")
                    {
                        @pkg.NoSellTextShow
                        <a onclick="chgPkgInfo('@pkg.pkg_no','showPkgDate');" class="btn btn-success select-option">@prodTitle.product_index_select</a>
                        @*<button type="button" class="btn btn-info" onclick="chgPkgInfo('@pkg.pkg_no','showPkgDate');">選擇其他日期</button>*@
                    }
                    else
                    {
                        @pkg.NoSellTextShow;
                    }
                }
                <div class="option-booking">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">

                                <label>@prodTitle.product_index_event</label>
                                <div class="dropdown">
                                    <button class="form-control input-dropdown" data-toggle="dropdown">
                                        <i class="icons icon-clock"></i> <span class="@buttonControl">@prodTitle.common_select_set</span>
                                    </button>
                                    <ul class="dropdown-menu input-dropdown-menu @ulControl">
                                        <li>
                                            <a href="javascript:;">@prodTitle.common_select_set</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="traveler-counter">
                                        <div class="pull-left">
                                            <h5>Adult <span class="text-muted text-xs">(Age 65-99)</span></h5>
                                            <span class="option-price">TWD 2,000/traveler</span>
                                        </div>
                                        <div class="pull-right text-right mt-10">
                                            <a href="javascript:;" class="counter disabled">
                                                <i class="icons icon-minus"></i>
                                            </a>
                                            <input type="text" class="counter-num" value="0" readonly>
                                            <a href="javascript:;" class="counter add">
                                                <i class="icons icon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="traveler-counter">
                                        <div class="pull-left">
                                            <h5>Elder <span class="text-muted text-xs">(Age 16-64)</span></h5>
                                            <span class="option-price">TWD 222,222,222,000/traveler</span>
                                        </div>
                                        <div class="pull-right text-right mt-10">
                                            <a href="javascript:;" class="counter disabled">
                                                <i class="icons icon-minus"></i>
                                            </a>
                                            <input type="text" class="counter-num" value="0" readonly>
                                            <a href="javascript:;" class="counter add">
                                                <i class="icons icon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="traveler-counter">
                                        <div class="pull-left">
                                            <h5>Child <span class="text-muted text-xs">(Age 3-15)</span></h5>
                                            <span class="option-price">TWD 2,000/traveler</span>
                                        </div>
                                        <div class="pull-right text-right mt-10">
                                            <a href="javascript:;" class="counter disabled">
                                                <i class="icons icon-minus"></i>
                                            </a>
                                            <input type="text" class="counter-num" value="0" readonly>
                                            <a href="javascript:;" class="counter add">
                                                <i class="icons icon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="traveler-counter">
                                        <div class="pull-left">
                                            <h5>Infant <span class="text-muted text-xs">(Age 0-2)</span></h5>
                                            <span class="option-price">TWD 0/traveler</span>
                                        </div>
                                        <div class="pull-right text-right mt-10">
                                            <a href="javascript:;" class="counter disabled">
                                                <i class="icons icon-minus"></i>
                                            </a>
                                            <input type="text" class="counter-num" value="0" readonly>
                                            <a href="javascript:;" class="counter add">
                                                <i class="icons icon-plus"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="msg-error">Minimum amount of adults required 2</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="detail-toggle">Option details <i class="icons icon-arrow-down"></i></a>
                <div class="option-detail">
                    Adventure to the Kota Kinabalu City Mosque.<br>
                    <ul>
                        <li>Included: Dinner buffet</li>
                        <li>Not Included: Lunch: coconut pudding, baked mussels, City mosque clothing rental, Binocular use</li>
                    </ul>
                </div>
            </li>
        }

    </ul>




</div>
