@using KKday.Web.B2D.EC.Models.Model.Product
@using KKday.Web.B2D.EC.Models.Model.Booking

@{
    var useDate = (string)ViewData["useDate"];
    var rentCar = ( RentCar)ViewData["rentCar"];
    var prodTitle = (ProdTitleModel)ViewData["prodTitle"];
}


@if (rentCar != null)
{
   @if (rentCar.rent_type == "01" || rentCar.rent_type == "02")
   {
       <!--_.includes(['01', '02'], this.rentCarType) 連動還沒有做-->
      @Html.Hidden("hdnSelPickUpId","")
      @Html.Hidden("hdnSelDropOffId","")
    @foreach (Office r in rentCar.rent_office.office_list)
    {
        @Html.Hidden("hdnPickup_"+r.id, r.business_hour.from.hour+"%"+ r.business_hour.from.minute+"%" +r.business_hour.to.hour+"%"+ r.business_hour.to.minute+"%" + r.address_eng)
    }
    <div class="traveler-con">
        <div class="sub-title">@prodTitle.booking_step1_rent_car</div>
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <!-- 取車地點 -->
                  <div class="form-group">
                      <label>@prodTitle.booking_step1_rent_car_pick_up_office</label>
                      <select class="form-control " id="selRentCarPickupOfiice" name="selRentCarPickupOfiice" onchange="chgRentCarTip('P',this)">
                          <option value=null disabled selected="selected">
                              @prodTitle.booking_step1_rent_car_pick_up_office_placeholder
                          </option>
                          @foreach( Office r in rentCar.rent_office.office_list)
                          {
                             <option value="@r.id">
                                  @r.office_name
                             </option>
                          }
                      </select>
                      <div class="tip pickupTip col-md-6 col-sm-12">
                           
                      </div>
                  </div>
              </div>
          </div>
              <div class="form-group">
                  <!-- 取車時間 -->
                  <label> @prodTitle.booking_step1_rent_car_pick_up_date</label> 
                  <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="form-group">
                              <div class="input-group date" onclick="">
                                  <input type="text" value="@useDate" class="form-control date-info2" placeholder="@prodTitle.booking_step1_rent_car_pick_up_date_placeholder" id="txtRendCarPickUpDate" name="txtRendCarPickUpDate" readonly="readonly" />
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-12">
                          <div class="time-select">
                              <div class="form-group form-select">
                                  <select class="form-control" id="selRentCarPickUpHour" name="selRentCarPickUpHour" onchange="chgRentCarHour('P',this)">
                                      <option :value=null disabled selected="selected">
                                          --
                                      </option>
                                  </select>
                              </div>
                              <span class="time-gap">@prodTitle.common_hr</span>
                              <div class="form-group form-select">
                                  <select class="form-control" id="selRentCarPickUpMinute" name="selRentCarPickUpMinute">
                                      <option :value="null" disabled selected="selected">
                                          --
                                      </option>
                                  </select>
                              </div>
                              <span class="time-gap">@prodTitle.common_min</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                         <div class="col-sm-6 col-xs-12">
                             @if (rentCar.rent_office.is_ProvidedFreeWiFi == true)
                             {
                               <div class="form-group">
                                  <!-- 是否需要免費Wi-Fi機 -->
                                  <label>@prodTitle.booking_step1_rent_car_is_need_free_wifi</label>
                                  <div class="form-inline">
                                      <label>
                                          <input type="radio" name="rentCarwifi" value="true" id="rdoWifiTrue">
                                          @prodTitle.common_need
                                      </label>
                                      <label>
                                          <input type="radio" name="rentCarwifi" vaule="false" id="rdoWifiFalse">
                                          @prodTitle.common_no_need
                                      </label>
                                  </div>
                              </div>
                             }
                             @if (rentCar.rent_office.is_ProvidedFreeGPS == true)
                             {
                                 <div class="form-group">
                                  <!-- 是否需要免費GPS -->
                                  <label>@prodTitle.booking_step1_rent_car_is_need_free_gps</label>
                                  <div class="form-inline">
                                      <label>
                                          <input type="radio" name="rentCargps" :value="true" id="rdoGpsTrue">
                                          @prodTitle.common_need
                                      </label>
                                      <label>
                                          <input type="radio" name="rentCargps" :value="false" id="rdoGpsFalse">
                                          @prodTitle.common_no_need
                                      </label>
                                  </div>
                               </div>
                             }
                        </div>
                    </div>
              </div>
              <div class="row">
                  <!-- 還車地點 -->
                  <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                          <label>@prodTitle.booking_step1_rent_car_drop_off_office</label>
                          <select class="form-control " id="selRentCarDropOffOfiice" name="selRentCarDropOffOfiice" onchange="chgRentCarTip('D',this)" >
                              <option value=null disabled selected="selected">
                                  @prodTitle.booking_step1_rent_car_drop_off_office_placeholder
                              </option>
                              @foreach( Office r in rentCar.rent_office.office_list)
                              {
                              <option value="@r.id">
                                  @r.office_name
                              </option>
                              }
                          </select>
                      </div>
                      <div class="tip dropOfftip col-md-6 col-sm-12"></div>
                  </div>
                  </div>
                  <div class="form-group">
                      <!-- 取車時間 -->
                      <label> @prodTitle.booking_step1_rent_car_pick_up_date</label>
                      <div class="row">
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="input-group date" onclick="">
                                  <input type="text" class="form-control date-info2" placeholder="@prodTitle.booking_step1_rent_car_pick_up_date_placeholder" id="txtRendCarDropOffDate" name="txtRendCarDropOffDate" readonly="readonly" />
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              </div>
                          </div>
                          <div class="col-sm-6 col-xs-12">
                              <div class="time-select">
                              <div class="form-group form-select">
                                  <select class="form-control" id="selRentCarDropOffHour" name="selRentCarDropOffHour" onchange="chgRentCarHour('D',this)">
                                      <option :value="null" disabled selected="selected">
                                          --
                                      </option>
                                  </select>

                              </div>
                              <span class="time-gap">@prodTitle.common_hr</span>
                              <div class="form-group form-select">
                                  <select class="form-control" id="selRentCarDropoffMinute" name="selRentCarDropoffMinute">
                                      <option :value="null" disabled selected="selected">
                                          --
                                      </option>
                                  </select>
                              </div>
                              <span class="time-gap">@prodTitle.common_min</span>
                             </div>
                          </div>
                      </div>
                  </div>
    </div>

   }
}



