@using KKday.Web.B2D.EC.Models.Model.Product
@using KKday.Web.B2D.EC.Models.Model.Booking

@{
    var flightInfoType = (string)ViewData["flightInfoType"];
    var useDate = (string)ViewData["useDate"];
    var venue = (VenueInfo)ViewData["venue"];
    var rentCar = (RentCar)ViewData["rentCar"];
    var prodTitle = (ProdTitleModel)ViewData["prodTitle"];

    var hour = "";
    var minute = "";
    var sTime = "";
    var eTime = "";
}

<!-- this.rentCarType === ‘03’ || this.PMDL_VENUE.setting.venueType === ‘03’ || this.PMDL_VENUE.setting.venueType === ‘04’-->
<!-- 接送資料 -->

@if (venue != null || rentCar != null)
{

    @if ((rentCar.is_require == true && rentCar.rent_type == "03") || (venue.is_require == true && (venue.venue_type == "03" || venue.venue_type == "04")))
    {
        <div class="traveler-con">
            <div class="sub-title">@prodTitle.booking_step1_shuttle_data</div>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- 接駁日期 -->
                    <div class="form-group">
                        <label>@prodTitle.booking_step1_shuttle_data_shuttle_date</label>
                        <div class="input-group date" id='datepickerShuttleDate'>
                            <input type="text"  value="@useDate" class="form-control date-info2" id="txtShttleDate" name="txtShuttleDate" placeholder="@prodTitle.booking_step1_shuttle_data_shuttle_date_placeholder" readonly="readonly" disabled="disabled" />
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <!--PMDL_VENUE.setting.venueType == '04' && flightInfoType.value != '02' && PMDL_VENUE.setting.dataItems.designatedByCustomer.pickUpLocation.options.pickUpTime.isRequired-->
                    <div class="form-group">
                    @if (venue.venue_type == "04" && flightInfoType != "02" &&  venue.designated_by_customer.pick_up.time.is_require == true)
                    {
                        <!-- 接駁時間 -->
                          <label>@prodTitle.booking_step1_shuttle_data_pick_up_time</label>
                          <div class="row">
                            <div class="col-sm-6 col-xs-12">
                               <div class="form-group">
                                <select class="form-control " id="selShuttlePickUpTime" name="selShuttlePickUpTime" onchange="chgShuttlePickupTime(this)">
                                    <option value=null disabled selected="selected">
                                        @prodTitle.booking_step1_shuttle_data_pick_up_time_placeholder
                                    </option>
                                    <!--designatedByCustomer.pickUp.time.timeID-->
                                    @foreach (Time t in venue.designated_by_customer.pick_up.time.time_list)
                                    {
                                        hour = t.hour; 
                                        minute = t.minute;
                                        @if (hour.Length == 1) {  hour = "0" + hour; }
                                        @if (minute.Length == 1) { minute = "0" + minute; }
                                      <option value="@t.id" >@hour : @minute</option>

                                    }
                                    @if (venue.designated_by_customer.pick_up.time.custom.is_allow == true)
                                    {
                                      <option value="customize">@prodTitle.booking_step1_shuttle_data_customized_shuttle_time</option>
                                    }

                                </select>
                               </div>
                            </div>
                           @if (venue.designated_by_customer !=null)
                            {
                              @if (venue.designated_by_customer.pick_up.time.custom.is_allow == true)
                               {
                                 <!--旅客自行輸入接駁時間-->
                                @Html.Hidden("hdnShuttle_CustomTime", venue.designated_by_customer.pick_up.time.custom.time_range_start + "%" + venue.designated_by_customer.pick_up.time.custom.time_range_end)
                                <div class="col-sm-6 col-xs-12  shuttleCustomTime">
                                  <div class="time-select">
                                    <div class="form-group">
                                     <select class="form-control " id="selShuttleCusHour" name="selShuttleCusHour" onchange="chgCustomHour(this)">
                                     </select>
                                    </div>
                                    <span class="time-gap">@prodTitle.common_hr</span>
                                    <div class="form-group">
                                    <select class="form-control " id="selShuttleCusMinute" name="selShuttleCusMinute">
                                    </select>
                                    </div>
                                   <span class="time-gap">@prodTitle.common_min</span>
                                 </div>
                                </div>
                               }
                            }
                       </div>
                    }
                   </div>
                </div>
              </div>

              <div class="row">
                  <!--PMDL_VENUE.setting.venueType == '04' && flightInfoType.value != '02' && PMDL_VENUE.setting.dataItems.designatedByCustomer.pickUpLocation.isRequired-->
                  <!--上車地點 -->
                  @if (venue.venue_type == "04" && flightInfoType != "02" && venue.designated_by_customer.pick_up.is_require_Location == true)
                  {
                     <div class="col-md-6 col-sm-12">
                         <div class="form-group">
                           <label>@prodTitle.booking_step1_shuttle_data_pick_up_location</label>
                           <textarea  id="txtShuttlePickUpLocation" name="txtShuttlePickUpLocation" class="form-control" rows="2" placeholder="@prodTitle.booking_step1_shuttle_data_pick_up_location_placeholder" ></textarea>
                         </div>
                     </div>
                  } 
                  <!--PMDL_VENUE.setting.venueType == '04' && flightInfoType.value != '01' && PMDL_VENUE.setting.dataItems.designatedByCustomer.dropOffLocation.isRequired-->
                  <!--下車地點-->
                  @if(venue.venue_type =="04" && flightInfoType !="01" && venue.designated_by_customer.drop_off.is_require_Location==true)                   {
                     <div class="col-md-6 col-sm-12">
                         <div class="form-group">
                           <label>@prodTitle.booking_step1_shuttle_data_drop_off_location</label>
                           <textarea id="txtShuttleDropOffLocation" name="txtShuttleDropOffLocation" class="form-control" rows="2" placeholder="@prodTitle.booking_step1_shuttle_data_drop_off_location_placeholder" ></textarea>
                         </div>
                     </div>
                  }
              </div>

              <div class="form-group">
                 @if (venue.venue_type == "03")
                 {
                     <!--接送地點-->
                     <label>@prodTitle.booking_step1_shuttle_data_designated_location</label>

                     @foreach (DesignatedLocation d in venue.designated_location_list)
                     {
                         @Html.Hidden("hdnLocation_"+d.id, d.location_address);
                     }

                     <select class="form-control " id="selShuttleLocationId" name="selShuttleLocationId" onchange="chgShuttleLocation(this)">
                         <option value=null disabled selected="selected">
                             @prodTitle.booking_step1_shuttle_data_designated_location_placeholder
                         </option>
                           <!-- designatedLocation.locationID-->
                          @foreach (DesignatedLocation d in venue.designated_location_list)
                          {
                              sTime = d.time_range_start; 
                              eTime = d.time_range_end;
                              @if (sTime.Length == 3) {  sTime = "0" + sTime + "0"; }
                              else { sTime = sTime + "0"; }
                              @if (eTime.Length == 3) {  eTime ="0"+eTime+"0";}
                              else { eTime = @eTime + "0"; }

                              <option value="@d.id" >@d.location_name (@sTime ~ @eTime)</option>
                          }
                     </select>
                     <div class="Tip venueLocationTip">
                   </div>
                 }
             </div>
          </div>
          <!--包車路線-->
        @if ( rentCar.rent_type == "03")
        {
          <div class="traveler-con">
             <div class="sub-title">@prodTitle.booking_step1_shuttle_data_charter_route</div>
              <div class="row">
               <div class="col-md-6 col-sm-12">
                 <div class="form-group">
                    <select class="form-control" id="selShuttleCharterRoute" name="selShuttleCharterRoute" onchange="chgShuttleRoute(this)">
                     <option value=null disabled selected="selected">
                         @prodTitle.booking_step1_shuttle_data_designated_location_placeholder
                     </option>
                     @foreach (Routes r in rentCar.driver_shuttle.charterRoute.route_list)
                     {
                         <option  value="@r.id"> @r.routeLocal</option>
                     }
                      @if (rentCar.driver_shuttle.charterRoute.route_custom.is_require == true)
                      {
                         <option value="customize">@prodTitle.booking_step1_shuttle_data_customized_charter_route</option>
                      }
                   </select> 
                </div>
               </div>
             </div>
         </div>
        }

        <!--自訂行程-->
        @if (rentCar.driver_shuttle != null)
        {
            @if (rentCar.driver_shuttle.charterRoute.route_custom.is_require == true)
           {
            <div class="row">
                <div class="form-group shuttleCusRoute">
                      <label>@prodTitle.booking_step1_shuttle_data_custom_routes</label>
                      <div class=input-group>
                        <input type="text" class="form-control" id="txtShuttleCusRoute" name="txtShuttleCusRoute"
                            placeholder="@prodTitle.booking_step1_shuttle_data_custom_routes_placeholder">
                         <span class="input-group-btn">
                           <a class="btn btn-default form-control" onclick="addShuttleCusRoute()" id="btnShuttleCusRoute" >@prodTitle.common_add </a>
                         </span>     
                     </div>
                     <div class="tip">
                      @prodTitle.booking_step1_shuttle_data_custom_routes_note_1
                         <span class="text-primary">
                             @rentCar.driver_shuttle.charterRoute.route_custom.route_limit
                             @Html.Hidden("hdnShuttleCusRouteCount", @rentCar.driver_shuttle.charterRoute.route_custom.route_limit)
                         </span>
                      @prodTitle.booking_step1_shuttle_data_custom_routes_note_2
                    </div>
                     <div class="shuttleCusRoute  shuttleCurRouteSelf">   
                          <ui  class="select-list">

                          </ui>
                     </div>
               </div>
           </div>
          }
        }
    }
}



